/*ignore*/

body{
    font-family: 'Roboto Slab';
    font-size: 14px;
    background-image:url('/img/pens.png');
}

a:link, a:visited {
    text-decoration: none;
    color: #00B0C4;
}

::-moz-selection {
    color: #FFFFFF;
    background: #00B0C4;
}

::selection {
    color: #FFFFFF;
    background: #00B0C4;
} 

hr {
    width: 20px;
    border: 1px solid #FF3300;
}

#lang {
    margin: auto auto auto auto;
    width: 800px;
    text-align: center;
}

lang {
    font-family: 'Cousine';
    color: #FF3300;
    background-color: #ffffff;

}

#section-1 {
    margin: 50px auto auto auto;
    width: 800px;
    text-align: center;
}

header-a {
    font-family: 'Abel';
    font-size: 80px;
    color: #FF3300;
    background-color: #ffffff;
}

header-b {
    font-family: 'Abel';
    font-size: 58px;
    color: #FF3300;
    background-color: #ffffff;
}

header-c {
    font-family: 'Abel';
    font-size: 30px;
    color: #FF3300;
    background-color: #ffffff;
}

.section-2 {
    margin: 50px auto auto auto;
    padding: 10px 10px;
    width: 780px;
    text-align: left;
    background-color: #FFFFFF;
}

h1intro {
    font-family: 'Abel';
    font-size: 18;
}

journaltitle {
    font-style: italic;
}

unavailable {
    background-color: #FF3500;
    color: #FFFFFF;
}

.section-3 {
    margin: auto auto auto auto;
    width: 800px;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.services-item {
    flex: 1;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.services-header {
    flex: 1;
    width: 1/3;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.services-desc {
    flex: 1;
    width: 1/3;
    text-align: left;
    padding: 10px 20px;
    background-color: #FFFFFF;
}

.services-price {
    flex: 1;
    width: 1/3;
    padding: 0px 0px;
    text-align: center;
    background-color: #FFFFFF;
}

h1rs {
    font-family: 'Abel';
    font-size: 25px;
    background-color: #FFFFFF;
}

cv {
    font-family: 'Cousine';
    font-size: 14px;
    background-color: #FFFFFF;
}

h2rs {
    font-family: 'Abel';
    font-size: 18px;
    background-color: #FFFFFF;
}

r-s-text {
    font-family: 'Roboto Slab', serif;
    background-color: #FFFFFF;
}

price {
    font-family: 'Cousine';
    font-size: 12px;
}

.section-4{
    margin: auto auto auto auto;
    width: 800px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-item {
    flex: 1;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-head-contact {
    flex: 1;
    width: 1/2;
    padding: 10px 0px 10px 0px;
    text-align: right;
}

.footer-head-about {
    flex: 1;
    width: 1/2;
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.footer-body-about {
    flex: 1;
    flex-grow: 1;
    width: 1;
    padding: 10px 10px 10px 10px;
    text-align: left;
    background-color: #FF3300;
}

.footer-body-middle {
    flex: 1;
    flex-grow: .5;
    width: 1;
    padding: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    opacity: 0;
}

.footer-body-contact {
    flex: 1;
    flex-grow: .8;
    width: 1;
    padding: 10px 10px 10px 10px;
    text-align: right;
    background-color: #FF3300;
}

footer-heading {
    font-family: 'Abel';
    font-size: 25px;
    color: #EEEEEE;
    background-color: #FF3300;
	padding: 0px 5px 0px 5px
}

footer-text {
    font-size: 14px;
    color: #EEEEEE;
}

email1 {
    font-family: 'Abel';
    color: #EEEEEE;
    font-size: 25;
}

email2 {
    font-family: 'Abel';
    color: #EEEEEE;
    font-style: italic;
    font-size: 20;
}

phone {
    font-family:'Abel';
    color: #EEEEEE;
    font-size: 25;
}

#copyright {
    margin: 10px;
    width: 100%;
    text-align: center;
}

copyright {
    font-family: 'Cousine';
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
}